.password-recovery-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/bg-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-section {
    width: 380px; /* Оставляем ширину как на фото */
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px; /* Отступ для футера */
}

.form-header {
    text-align: center;
    margin-bottom: 12px;
}

.logo-text {
    font-size: 26px;
    font-weight: 600;
    color: #56b8ff;
    text-transform: uppercase;
}

.password-recovery-form {
    padding: 0 16px;
    width: 100% !important;
    box-sizing: border-box;
}

/* Увеличенные инпуты */
.password-recovery-form .ant-form-item .input-custom {
    height: 40px !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    background: #ffffff;
    border: 2px solid #e4ebf7 !important;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 !important;
}

/* Перекрываем стили Ant Design */
.password-recovery-form .ant-form-item .ant-form-item-control .ant-input-affix-wrapper {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

/* Убедимся, что внутренние элементы инпутов одинаковы */
.password-recovery-form .ant-form-item .input-custom input,
.password-recovery-form .ant-form-item .input-custom .ant-input-password {
    font-size: 14px;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    border: none !important;
    padding: 0 10px !important;
    background: transparent !important;
}

/* Стили для placeholder'ов */
.password-recovery-form .ant-form-item .input-custom input::placeholder {
    color: #96A6BA;
    font-size: 14px;
}

/* Уменьшение отступов между инпутами */
.password-recovery-form .ant-form-item {
    margin-bottom: 20px;
}

.submit-btn {
    height: 40px;
    background-color: #56b8ff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #3a9de5;
}