.container {
    width: 100%;
    padding: 0 16px;
}

.formHeader {
    text-align: center;
    margin-bottom: 12px;
}

.logoText {
    font-size: 26px;
    font-weight: 600;
    color: #56b8ff;
    text-transform: uppercase;
}

.description {
    font-size: 14px;
    color: #313d4c;
    margin-bottom: 20px;
    text-align: center;
}

.resetForm {
    padding: 0 16px;
}

.input {
    height: 40px !important;
    width: 100% !important;
    background: #ffffff !important;
    border: 2px solid #e4ebf7 !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
}

.input input,
.input .ant-input-password {
    font-size: 14px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.submitBtn {
    height: 40px;
    background-color: #56b8ff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
}

.submitBtn:hover {
    background-color: #3a9de5;
}

@media (max-width: 1440px) {
    .logoText {
        font-size: 24px;
    }

    .input {
        height: 38px !important;
        font-size: 13px !important;
    }

    .submitBtn {
        height: 38px;
        font-size: 12px;
    }
}

@media (max-width: 1366px) {
    .logoText {
        font-size: 22px;
    }

    .input {
        height: 36px !important;
        font-size: 12px !important;
    }

    .submitBtn {
        height: 36px;
        font-size: 11px;
    }
}
