.small-footer {
    height: 40px;
    padding: 0; /* Убраны отступы, чтобы футер занимал всю ширину */
    background-color: transparent;
    width: 100%; /* Явно задаём ширину 100% */
}

.footer-left {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px; /* Отступ слева для текста, чтобы не прилипал к краю */
}

.footer-year,
.footer-copy {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #96A6BA;
}

.footer-logo {
    width: 36px;
    height: 26px;
    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(60%) sepia(4%) saturate(508%) hue-rotate(176deg) brightness(93%) contrast(86%);
    margin-right: 12px; /* Отступ справа для логотипа */
}

@media (min-width: 1600px) {
    .footer-year,
    .footer-copy {
        font-size: 12px;
    }

    .footer-logo {
        width: 42px;
        height: auto;
    }
}